@model SouqDotNet.Models.Entities.Department
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<h2 class="display-4">Are you sure you want to delete this department</h2>
<br />
@using (Html.BeginForm("Delete", "Departments"))
{
    <div class="alert alert-info">
        <div class="form-group">
            @Html.LabelFor(q => q.Id)
            @Html.TextBoxFor(q => q.Id, new { @readonly = true, @class = "form-control" })
        </div>
        <div class="form-group ">
            @Html.LabelFor(q => q.Name)
            @Html.TextBoxFor(q => q.Name, new { @readonly = true, @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(q => q.Description)
            @Html.TextBoxFor(q => q.Description, new { @readonly = true, @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-danger" value="Delete" />
        @Html.ActionLink("Back", "Index", null, null, new { @class = "btn btn-warning" })
    </div>
}

