@model IEnumerable<SouqDotNet.Models.Entities.Product>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron m-5" style="background-color:#e3f2fd;">
    <h1 class="display-4">Welcome, in SouqTech!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<h1 class="display-4 m-4" style="font-size:45px;">Popular Products </h1>
<div class="card-deck m-4">
    @foreach (var Product in Model)
    {
        <div class="card shadow w-25">
            <img class="card-img" src="~/Uploads/ProductImages/@Product.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Product.ProductName</h5>
                <p class="card-text"> @Product.Description </p>
            </div>
            <input class="btn btn-danger m-1 shadow" value="Add To Cart" />
            <input class="btn btn-info m-1 shadow" value="Details" />
        </div>
    }
</div>

<h1 class="display-4 m-4" style="font-size:45px;">Trending Now </h1>
<div class="card-deck m-4">
    @foreach (var Product in Model)
    {
        <div class="card shadow w-25">
            <img class="card-img" src="~/Uploads/ProductImages/@Product.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Product.ProductName</h5>
                <p class="card-text"> @Product.Description </p>
            </div>
            <input class="btn btn-danger m-1 shadow" value="Add To Cart" />
            <input class="btn btn-info m-1 shadow" value="Details" />
        </div>
    }
</div>

<h1 class="display-4 m-4" style="font-size:45px;">Popular Products 2 </h1>
<div class="card-deck m-4 ">
    @foreach (var Product in Model)
    {
        <div class="card shadow w-25">
            <img class="card-img" src="~/Uploads/ProductImages/@Product.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Product.ProductName</h5>
                <p class="card-text"> @Product.Description </p>
            </div>
            <input class="btn btn-danger m-1 shadow" value="Add To Cart" />
            <input class="btn btn-info m-1 shadow" value="Details" />
        </div>
    }
</div>
<h1 class="display-4 m-4" style="font-size:45px;">Popular Products 3 </h1>
<div class="card-deck m-4">
    @foreach (var Product in Model)
    {
        <div class="card shadow w-25">
            <img class="card-img" src="~/Uploads/ProductImages/@Product.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Product.ProductName</h5>
                <p class="card-text"> @Product.Description </p>
            </div>
            <input class="btn btn-danger m-1 shadow" value="Add To Cart" />
            <input class="btn btn-info m-1 shadow" value="Details" />
        </div>
    }
</div>